*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.large-container{
    margin-left: 80%;
    margin-right: 80%;
}
.small-container{
    margin-left: 30%;
    margin-right: 30%;
}
.pb-20{
    padding-bottom: 20px;   
}
header{
    background-color: transparent;
    position:fixed;
    width: 100%;
}
header .navbar-p{
    padding:10px 0px;
}
header .navbar{
    display: inline-flex;
    align-items: center;
}