
input:focus-visible{
    outline: none;
}

.carousel-control-prev-icon {
    display: inline-block;
    width: 3rem;
    height:80px !important;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-color: black;
margin-left:  -166px;

/* background-color: aliceblue; */



}

.carousel-control-next-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 3rem;
    height:100px !important;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-color: black;

margin-left:  166px;

}
.dropdown-toggle {
    white-space: nowrap;
    font-size: 25px !important;
    transform: rotate(90deg);

}
.dropdown:hover .ror::before  {
    transform: rotate(180deg) !important;

}

.dropdown-toggle::after {
    content: unset !important;
}
.lol{
    transform: rotate(0deg);
    
    border: none !important;

}