.appcontainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    color: red;
    font-weight: bold
}
.appContainer {
    width: 100vw;
    display: flex;
    flex-direction:column ;
    /* justify-content: center;
    align-items: center; */
  }