.first {
    height: 450px;
    width: 436px;
    background-color: blue;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
 place-content: center;
 color: aliceblue;

}

.second {
    height: 450px;
    width: 436px;
    background-color: rgb(162, 255, 0);
    color: aliceblue;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
 place-content: center;
  


}